body{
    background-color: rgb(9, 1, 31);
    font-family: "Audiowide", sans-serif;
    color: #00FF00;
}

#clock{
    width : 450px;
    height : 200px;
    border : 2px solid red;
    border-radius: 25px;
    margin: 0 auto;
    margin-top:50px;
}

.display{
   margin-left: 50px;
   font-size: 30px;
   float: left;
}
h2.display{
   margin-bottom: 0px;
}

small{
    float: right;
    font-size: 30px;
    margin-top: 70px;
    margin-right: 50px;
}